<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   
    <form method="POST" action="/newteam">
      <label for="name">Team Name:</label>
      <input type="text" name="name">
      
      <label for="coach">Coach:</label>
      <input type="text" name="coach">
      
      <label for="point">Point Guard:</label>
      <input type="text" name="point">
      
      <label for="shoot">Shooting Guard:</label>
      <input type="text" name="shoot">
      
      <label for="small">Small Forward:</label>
      <input type="text" name="small">
      
      <label for="power">Power Forward:</label>
      <input type="text" name="power">
      
      <label for="center">Center:</label>
      <input type="text" name="center">
      
      <input type="submit" id="Submit">
    </form>
 </body>
</html>


